[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
mock = "*"
flake8 = "*"
pylint = "*"
pre-commit = "*"
mypy = "*"
flower = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
